.dataTable {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.dataTable :is(th, td) {
	border: 1px solid;
}

.deleteButton {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	font-size: 1.25rem;
	color: firebrick;
}

.dataTable tr[data-status='new'] {
	background-color: rgba(50, 78, 205, 0.25);
}

.dataTable tr[data-status='done'] {
	background-color: rgba(50, 205, 50, 0.5);
}

.dataTable tr[data-status='cancelled'] {
	background-color: rgba(173, 173, 173, 0.25);
}

.dataTable tr[data-status='in-progress'] {
	background-color: rgba(204, 17, 221, 0.25);
}

.dataTable tr[data-status='pending'] {
	background-color: rgba(168, 90, 21, 0.25);
}

.createForm {
	display: grid;
	gap: 1rem;
}

.createForm textarea {
	resize: none;
	width: 100%;
}

.formFlex {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.formFlex select {
	font: inherit;
	padding: 0.25rem 0.5rem;
}

.formFlex p {
	margin: 0;
	color: forestgreen;
	font-weight: 600;
	font-size: 0.875rem;
}

.createForm button {
	max-width: max-content;
}

.usersList {
	padding: 0;
}

.usersListItem {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.usersListItem button {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	font-weight: 700;
	color: crimson;
}
